<%- include('includes/head.ejs') %>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="home">
    
    <div class="actions">
        <div class="create_room_btn">
            <button>Create Conference Room</button>
        </div>
        <div class="join_room_btn">
            <button>Join Conference Room</button>
        </div>
    </div>

    <!-- <script src="/js/app1.js"></script> -->
    <script src="/assets/js/dashboard.bundle.js"></script>
</body>
</html>